/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: var(--dark-image, none);
  --accent-color: var(--pink-dark, #ff0070);
  --color: var(--pale-pink, #f1b2ce);
  --header-color: var(--violet, #db00ff);
  --title-decor: var(--blue, #000028);
  --decor: var(--pink-dark, #ff0070);
  --decor-rgb: var(--pink-dark-rgb, 255 0 112);
  --background-color: var(--blue, #000028);
}

:root.theme-dark .decorated-zone {
  position: relative;
}

:root.theme-dark .header__decoration {
  display: inline-block;
  position: absolute;
  top: var(--padding, 10px);
  right: calc(var(--padding, 10px) + 10px);
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-size: var(--font-size, 18px);
  line-height: 25px;
  text-align: center;
  color: var(--accent-color, #ff0070);
}

:root.theme-dark .header__decoration::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: var(--padding, 10px);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  :root.theme-dark .header__decoration {
    top: 18px;
    right: calc(var(--padding, 20px) + 10px);
  }

  :root.theme-dark .header__decoration::after {
    content: '';
    margin-left: 10px;
  }
}
