/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --color: #f1b2ce;
  --header-color: #db00ff;
  --title-decor: #000028;
  --decor: #ff0070;
  --decor-rgb: 255 0 112;
  --background-color: #000028;
}
