/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: var(--dark-image);
  --accent-color: var(--pink-dark);
  --color: var(--pale-pink);
  --header-color: var(--violet);
  --title-decor: var(--blue);
  --decor:var(--pink-dark);
  --decor-rgb: var(--pink-dark-rgb);
}

:root.theme-dark .decorated-zone {
  position: relative;

}



:root.theme-dark .header__decoration {
display: inline-block;
  position: absolute;
  top:10px;
  left: 304px;
  font-family: var(--font);
font-size: 18px;
line-height: 25px;
text-align: center;
color:var(--accent-color);
}

:root.theme-dark .header__decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}