/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: var(--light-image, none);
  --accent-color: var(--pink-light, #ff8dcb);
  --color: var(--grey, #353430);
  --header-color: var(--pink, #ffc2e6);
  --title-decor: var(--grey, #353430);
  --decor: var(--grey, #353430);
  --decor-rgb: var(--grey-rgb, 53 52 48);
  --background-color: var(--background-light, #fff1f7);
}

:root.theme-light .header__decoration {
  display: none;
}
