/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image, none);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color, #000028);
}

.page > header,
.page > main {
  margin-block-end: 40px;
}

.header {
  padding: var(--padding, 10px);
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  position: relative;
  gap: 55px;
  align-items: start;
}

.header__decoration {
  display: inline-block;
  position: absolute;
  top: var(--padding, 10px);
  right: calc(var(--padding, 10px) + 30px);
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-size: var(--font-size, 18px);
  line-height: 25px;
  text-align: center;
  color: var(--accent-color, #ff0070);
}

.header__decoration::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 9px;
  top: var(--padding, 10px);
  left: 45px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  top: var(--padding, 10px);
  right: var(--padding, 10px);
  border-top: 1px solid var(--decor, #ff0070);
  border-right: 1px solid var(--decor, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  bottom: var(--padding, 10px);
  left: var(--padding, 10px);
  border-bottom: 1px solid var(--decor, #ff0070);
  border-left: 1px solid var(--decor, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: end;
  margin-block-start: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font, 'IBM Plex mono', monospace);
  align-items: flex-end;
  justify-content: flex-start;
  margin-block-end: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--decor, #ff0070);
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-normal, 400);
  font-size: var(--font-size, 18px);
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  padding: 2px 13px 4px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--decor, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(var(--decor-rgb, 255 0 112) / 0.4);
}

.header__title {
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  justify-self: start;
  align-self: start;
}

.header__description {
  display: inline-block;
  width: fit-content;
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-bold, 700);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  background-color: var(--accent-color, #ff0070);
  color: var(--title-decor, #000028);
  text-align: left;
  padding: 0 2px;
}

.main {
  padding: 0 var(--padding, 10px);
  display: grid;
  gap: 50px;
}

.section {
  inline-size: 100%;
}

.section__title {
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-bold, 700);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  margin-block-end: 20px;
  color: var(--decor, #ff0070);
}

.section__title:last-child {
  margin-block-end: 10px;
}

.title-decor {
  color: var(--title-decor, #000028);
  background-color: var(--accent-color, #ff0070);
}

.section__list {
  display: grid;
  gap: 20px;
}

.card__title {
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-bold, 700);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  background-color: var(--accent-color, #ff0070);
  color: var(--title-decor, #000028);
  margin-block-end: 10px;
}

.card__title-decor {
  font-weight: var(--weight-normal, 400);
}

.card__text {
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-normal, 400);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  color: var(--color, #f1b2ce);
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
  position: relative;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--color, #f1b2ce);
}

.card__link:hover {
  border-bottom: 1px solid var(--color);
}

.visual-section {
  display: grid;
  gap: 10px;
}

.visual-section .section__title {
  margin-block-end: 0;
}

.image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding, 10px);
  position: relative;
}

.footer__title {
  font-family: var(--font, 'IBM Plex mono', monospace);
  font-weight: var(--weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (min-width: 768px) {
  :root {
    --padding: 20px;
  }

  .page > header,
  .page > main {
    margin-block-end: 60px;
  }

  .header {
    padding: var(--padding, 20px);
    min-block-size: 1024px;
    gap: 162px;
  }

  .header__decoration {
    top: 20px;
    right: calc(var(--padding, 20px) + 28px);
  }

  .header__decoration::after {
    top: 8px;
    left: 42px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__theme-menu-list {
    gap: 13px;
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .main {
    gap: 80px;
  }

  .section {
    display: grid;
    gap: var(--padding, 20px);
  }

  .focus-section {
    grid-template-columns: 0.5fr 1fr;
  }

  .section__title {
    margin-block-end: 0;
    grid-column: 1/2;
  }

  .distraction-section {
    grid-template-rows: min-content auto;
    grid-template-columns: 0.5fr 1fr;
  }

  .distraction-section .section__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .distraction-section .section__list {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .tips-section {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
  }

  .tips-section .section__title:not(.title-decor) {
    margin-block-end: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: start;
  }

  .tips-section .section__title.title-decor {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
  }

  .tips-section .section__list {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .visual-section {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
  }

  .visual-section .section__title {
    grid-column: 1/4;
  }

  .visual-section .image {
    block-size: 100%;
    object-fit: cover;
  }

  .image_sunset {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .image_ice-cream {
    grid-row: 2/4;
    grid-column: 3/4;
  }

  .image_tape {
    grid-row: 3/5;
    grid-column: 1/2;
  }

  .image_books {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .image_street {
    grid-row: 4/5;
    grid-column: 2/4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
    gap: 114px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    gap: 10px;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-inline-end: 0;
  }

  .header__description {
    max-inline-size: 491px;
  }

  .focus-section {
    grid-template-columns: 0.49fr 1fr;
  }

  .distraction-section {
    grid-template-columns: auto auto auto;
  }

  .distraction-section .section__title {
    display: inline-block;
    max-inline-size: 315px;
  }

  .distraction-section .section__list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .tips-section {
    grid-template-columns: 0.49fr 1fr;
  }
}
