/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}

.header {
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  position: relative;
  gap: 55px;
  align-content: space-evenly;
}

.header__decoration {
  display: none;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  top:10px;
  right: 10px;
  border-top: 1px solid var(--decor-header);
  border-right: 1px solid var(--decor-header);
  width:25px;
  height: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  top: 633px;
  left: 10px;
  border-bottom: 1px solid var(--decor-header);
  border-left: 1px solid var(--decor-header);
  width:25px;
  height: 25px;
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: end;
  margin: 65px 0 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 11.5px;

  font-family: var(--font);
  justify-items: center;
  align-items: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--decor-header);
  font-family: var(--font);
  font-weight: var(--weight-normal);
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__description {
  display: inline-block;
  width: fit-content;
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-decor);
  text-align: left;
  padding: 0 2px;
  margin-bottom: 66px;
}

.main {
  padding: 0 10px;
  margin-top: 40px;
  display: grid;
  gap: 50px;
}

.section {
  inline-size: 100%;
}

.section__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.section__title:last-child {
  margin-bottom: 10px ;
}

.title-decor {
  color: var(--title-decor);
  background-color: var(--accent-color);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-decor);
  margin-bottom: 10px;
}

.card__title-decor {
  font-weight: 400;
}

.card__text {
  font-family: var(--font);
  font-weight: var(--weight-normal);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color);
}

.card__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.visual-section {
  display: grid;
  gap: 10px;
}

.image {
 inline-size: 100%;
 object-fit: cover;
}