/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  display: grid;
  gap: 40px;
}

.header {
  padding: var(--padding);
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: auto max-content auto;
  position: relative;
  gap: 55px;
  align-items: start;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  top: var(--padding);
  right: var(--padding);
  border-top: 1px solid var(--decor);
  border-right: 1px solid var(--decor);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  bottom: var(--padding);
  left: var(--padding);
  border-bottom: 1px solid var(--decor);
  border-left: 1px solid var(--decor);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: end;
  margin-top: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  font-family: var(--font);
  align-items: flex-end;
  justify-content: flex-start;

}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: var(--decor);
  font-family: var(--font);
  font-weight: var(--weight-normal);
  font-size: var(--font-size);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--decor);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid rgb(var(--decor-rgb) / 0.4);
}

.header__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: start;
  margin-top: 20px;
}

.header__description {
  display: inline-block;
  width: fit-content;
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-decor);
  text-align: left;
  padding: 0 2px;
}

.main {
  padding: 0 var(--padding);
  display: grid;
  gap: 50px;
}

.section {
  inline-size: 100%;
}

.section__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  margin-bottom: 20px;
  color: var(--decor);
}

.section__title:last-child {
  margin-bottom: 10px;
}

.title-decor {
  color: var(--title-decor);
  background-color: var(--accent-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.card__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-decor);
  margin-bottom: 10px;
}

.card__title-decor {
  font-weight: var(--weight-normal);
}

.card__text {
  font-family: var(--font);
  font-weight: var(--weight-normal);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--color);
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  position: relative;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--color);
}

.card__link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  height: 1px;
  background-color: currentColor;
}

.visual-section {
  display: grid;
  gap: 10px;
}

.image {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  position: relative;
}

.footer__title {
  font-family: var(--font);
  font-weight: var(--weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --background-image: var(--dark-image);
    --accent-color: var(--pink-dark);
    --color: var(--pale-pink);
    --header-color: var(--violet);
    --title-decor: var(--blue);
    --decor: var(--pink-dark);
    --decor-rgb: var(--pink-dark-rgb);
  }

  :root.theme-auto .decorated-zone {
    position: relative;
  }

  :root.theme-auto .header__decoration {
    display: inline-block;
    position: absolute;
    top: var(--padding);
    right: calc(var(--padding) + 10px);
    font-family: var(--font);
    font-size: var(--font);
    line-height: 25px;
    text-align: center;
    color: var(--accent-color);
  }

  :root.theme-auto .header__decoration::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --background-image: var(--light-image);
    --accent-color: var(--pink-light);
    --color: var(--grey);
    --header-color: var(--pink);
    --title-decor: var(--grey);
    --decor: var(--grey);
    --decor-rgb: var(--grey-rgb);
  }

  :root.theme-auto .header__decoration {
    display: none;
  }
}

@media (min-width: 768px) {
  :root {
    --padding: 20px;
  }

  .page {
    gap: 60px;
  }

  .header {
    padding: 0;
    min-block-size: 1024px;
    grid-template-rows: auto max-content auto;
    gap: 162px;
    align-items: start;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    gap: 13px;
    margin-right: var(--padding);
  }

  .header__description {
    width: 364px;
    height: 117px;
    justify-self: end;
    margin-right: var(--padding);
  }

  .main {
    gap: 80px;
  }

  .focus-section {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }

  .section__title {
    margin-bottom: 0;
    grid-column: 1/2;
  }

  .distraction-section {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 0.5fr 1fr;
  }

  .distraction-section .section__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 20px;
  }

  .distraction-section .section__list {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .tips-section {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .tips-section .section__title:not(.title-decor) {
    margin-bottom: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: start;
  }

  .tips-section .section__title.title-decor {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
  }

  .tips-section .section__list {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .visual-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .visual-section .section__title {
    grid-column: 1/4;
  }

  .visual-section .image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .image_sunset {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .image_ice-cream {
    grid-row: 2/4;
    grid-column: 3/4;
  }

  .image_tape {
    grid-row: 3/5;
    grid-column: 1/2;
  }

  .image_books {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .image_street {
    grid-row: 4/5;
    grid-column: 2/4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
    gap: 114px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: var(--padding);
  }

  .header__theme-menu-list {
    gap: 23px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-right: 0;
  }

  .header__description {
    width: 50%;
    height: 71px;
  }

  .distraction-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .distraction-section .section__list {
    display: flex;
    flex-direction: row;
  }
}
