/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --dark-image: url('../images/cover-image-dark.png');
  --light-image: url('../images/cover-image-light.png');
  --pink-dark: #ff0070;
  --pink-light: #ff8dcb;
  --violet: #db00ff;
  --pink:#ffc2e6;
  --pale-pink: #f1b2ce;
  --grey: #353430;
  --font: 'IBM Plex mono';
  --weight-normal: 400;
  --weight-bold: 700;
  --blue: #000028;


}