/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --color: #f1b2ce;
  --header-color: #db00ff;
  --title-decor: #000028;
  --decor: #ff0070;
  --decor-rgb: 255 0 112;
  --background-color: #000028;

  --font: 'IBM Plex mono', monospace;
  --weight-normal: 400;
  --weight-bold: 700;
  --font-size: 18px;
  --padding: 10px;
  --line-height: 1.3;
}
